@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* PRIMARY COLOR */
    --soft-red: #fe7867;
    --yellow: #fad400;
    --desaturated-cyan: #25564b;
    --dark-blue: #19536b;
    --moderate-cyan: #458c7e;

    /* NEUTRAL COLOR */
    --dark-desaturated-blue: #23303e;
    --very-dark-grayish-blue: #5a636c;
    --dark-grayish-blue: #818498;
    --grayish-blue: #a7abae;
    --white: #ffffff;
}

/* SHARED STYLES */
body {
    font-family: "Fraunces", serif;
    font-size: 18px;
    line-height: 1.5;
}

.main-section img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.gallery-container img {
    width: 100%;
    height: auto;
    display: block;
}

/* HEADER STYLES */
.header {
    height: 90vh;
    background-color: skyblue;
    background-image: url("./images/desktop/image-header.jpg");
    background-position: center bottom;
    background-size: cover;
    color: var(--white);
    padding: 20px 15px;
}

.header-top-container {
    display: flex;
    justify-content: space-between;
}

.header-bottom-container {
    margin: 60px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

.header-bottom-container h1 {
    margin-bottom: 90px;
}

.toggle-menu {
    display: none;

    position: absolute;
    top: 0.75rem;
    right: 1rem;
}

/* HIDE BOTTOM CONTAINER */
.hide-bottom-container {
    display: none;
}

/* NAV STYLES */

.nav-links ul li {
    list-style-type: none;
}

.nav-links ul {
    display: flex;
}

.nav-links ul a {
    text-decoration: none;
    padding: 8px 30px;
    color: var(--white);
}

.nav-links ul .nav-contact {
    color: black;
    background-color: var(--white);
    border: 1px solid white;
    border-radius: 20px;
}

.nav-links ul a:hover {
    color: black;
    opacity: 0.8;
    transition: 0.2s;
}

.nav-links ul .nav-contact:hover {
    background-color: transparent;
    color: var(--white);
    opacity: 0.8;
    transition: 0.2s;
}

/* MAIN SECTION STYLES */
.main-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.main-section h3 {
    font-weight: 900;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.main-section p {
    font-family: "Barlow", sans-serif;
    color: var(--very-dark-grayish-blue);
}

.main-section .mobile-image {
    display: none;
}

.section-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    place-self: center;

    margin: 10%;
}

.section-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    place-self: center;

    margin: 10%;
}

.section-3 {
    background-image: url("./images/desktop/image-graphic-design.jpg");
    background-position: 65% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 3/4;
}

.section-4 {
    background-image: url("./images/desktop/image-photography.jpg");
    background-position: 65% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2/3;
    grid-row: 3/4;
}

.img-1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.img-2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.section-3,
.section-4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    padding: 10%;
}

.button {
    margin-top: 15px;
    border: none;
    background-color: var(--white);
    font-size: 1.5rem;
    font-family: "Fraunces", serif;
}

.button:hover {
    cursor: pointer;
}

.section-1 .button::after {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: hsla(60, 100%, 50%, 0.5);
    left: 1px;
    bottom: 8px;
    position: relative;
}

.section-1 .button:hover::after {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: hsla(60, 100%, 50%, 0.8);
    left: 1px;
    bottom: 8px;
    position: relative;
}

.section-2 .button::after {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: hsla(7, 99%, 70%, 0.5);
    left: 1px;
    bottom: 8px;
    position: relative;
}

.section-2 .button:hover::after {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: hsla(7, 99%, 70%, 0.8);
    left: 1px;
    bottom: 8px;
    position: relative;
}

/* TESTIMONIAL CONTAINER STYLES */
.testimonial-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 400px;
}

.testimonial-container {
    margin: 50px;
}

.testimonial-container p {
    margin: 10px 5px;
    font-family: "Barlow", sans-serif;
    text-align: center;
    color: var(--dark-grayish-blue);
}

.testimonial-container h4 {
    margin-top: 10px;
    font-weight: 900;
}

.testimonial-header {
    font-size: 1.5rem;
    color: var(--grayish-blue);
    text-align: center;

    grid-row: 1/2;
    grid-column: 1/4;
    align-self: center;
    display: flex;
    justify-content: center;
}

.testimonial-1 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.testimonial-2 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.testimonial-3 {
    grid-row: 2/3;
    grid-column: 3/4;
}

.testimonial-1,
.testimonial-2,
.testimonial-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.testimonial-1 img,
.testimonial-2 img,
.testimonial-3 img {
    border: 1px solid #333;
    border-radius: 50%;
}

/* GALLERY CONTAINER STYLES */
.gallery-container {
    margin-top: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.gallery-container .mobile-image {
    display: none;
}

/* FOOTER STYLES */
footer {
    background-color: var(--moderate-cyan);
    padding: 30px;
}

footer .logo {
    color: var(--dark-desaturated-blue);
    text-align: center;
    font-size: 1.5rem;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.footer-link a {
    font-family: "Barlow", sans-serif;
    text-decoration: none;
    color: var(--dark-desaturated-blue);
    padding-inline: 20px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a img {
    display: block;
}

.social-media a {
    margin: 20px;
}

.footer-link a:hover {
    color: var(--white);
}

.social-media a:hover {
    filter: brightness(0) invert(1);
}

/* MEDIA QUERIES */
@media screen and (max-width: 650px) {
    .header {
        background-image: url("./images/mobile/image-header.jpg");
    }

    .toggle-menu {
        display: block;
    }

    .header-top-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        display: none;
        background-color: var(--white);
        width: 100%;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }

    .nav-links ul li {
        text-align: center;
        padding: 20px 20px;
    }

    .nav-links ul li a {
        color: #333;
    }

    .nav-links ul .nav-contact {
        color: black;
        background-color: var(--yellow);
        border: 1px solid white;
        border-radius: 20px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links ul a:hover {
        color: grey;
        opacity: 0.8;
        transition: 0.2s;
    }

    .nav-links ul .nav-contact:hover {
        background-color: yellow;
        color: grey;
        opacity: 0.8;
        transition: 0.2s;
    }

    .main-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .main-section .desktop-image {
        display: none;
    }

    .main-section .mobile-image {
        display: block;
    }

    .section-1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .section-2 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .section-3 {
        background-image: url("images/mobile/image-graphic-design.jpg");

        grid-column: 1/2;
        grid-row: 5/6;
    }

    .section-4 {
        background-image: url("images/mobile/image-photography.jpg");

        grid-column: 1/2;
        grid-row: 6/7;
    }

    .img-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .img-2 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .testimonial-container {
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr 1fr 1fr;
    }

    .testimonial-header {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .testimonial-1 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .testimonial-2 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .testimonial-3 {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .gallery-container .desktop-image {
        display: none;
    }

    .gallery-container .mobile-image {
        display: block;
    }
}
